In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("titanic.csv")
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [5]:
df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis='columns',inplace=True)

In [6]:
target=df.Survived
inputs=df.drop("Survived",axis='columns')

In [8]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [9]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [10]:
inputs.drop("Sex",axis="columns",inplace=True)

In [11]:
#now we have to check that weather this data frame has any NaN value or not 
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [12]:
#so it tells us that age column does have some NaN 
#to ignore it out we have to use some dummy methods
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [13]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [16]:
from sklearn.naive_bayes import GaussianNB

In [17]:
model=GaussianNB()

In [19]:
model.fit(X_train,y_train)

GaussianNB()

In [22]:
model.predict(X_test)

array([0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0])

In [24]:
model.score(X_test,y_test)

0.8212290502793296